/*
colors

dark-blue title #274C5B
light-dark-blue #335B6B

green #7EB693

text color #525C60

*/

html, body {
    font-family: 'Open Sans', sans-serif;
    color: #525C60;
    font-size: 18px;
}

i {
    font-family: 'Yellowtail', cursive;
    font-style: normal;
    font-size: 2rem;
    line-height: 3.6rem;
    color: #7EB693;
}

img {
    max-width: 100%;
}

p {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.7777rem;
    letter-spacing: 0.36px;
    color: #525C60;
}

h1 {
    font-family: 'Roboto', sans-serif;
    line-height: 3.8888rem;
    font-size: 4.6666rem;
    font-weight: 700;
    letter-spacing: 0.36px;
    margin-bottom: 30px;
    color: #274C5B;

    transform: translate(0, -120%);
    opacity: 0;
    transition: all 0.4s ease 0s;
}


h2 {
    font-family: 'Roboto', sans-serif;
    line-height: 3.625rem;
    font-size: 2.7rem;
    font-weight: 700;
    letter-spacing: 0.36px;
    color: #274C5B;
}

h4 {
    font-family: 'Roboto', sans-serif;
    line-height: 2.5rem;
    font-size: 1.8rem;
    font-weight: 400;
    letter-spacing: 0.36px;
    color: #274C5B;
}

h5 {
    font-family: 'Roboto', sans-serif;
    font-size: 1.5625rem;
    line-height: 2.1875rem;
    font-weight: 700;
    letter-spacing: 0.36px;
    color: #274C5B;
}

h6 {
    font-family: 'Roboto', sans-serif;
    font-size: 1.375rem;
    line-height: 2.1875rem;
    letter-spacing: 0.36px;
    color: #274C5B;
}

.item {
    background: #F9F8F8;
    border-radius: 30px;
    margin-top: 25px;
    padding: 67px 30px 35px 30px;
    transition: 0.2s;
}

.item:hover {
    box-shadow: 0 0 10px -1px rgba(0, 0, 0, 0.56);
}

.button_all {
    height: 82px;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button_all:hover {
    background: #8fd19e;
    transition-duration: 0.2s;
    box-shadow: 0 2px 18px #8fd19e;
    color: #494f54;
    border: 1px solid #8fd19e;
    text-decoration: none;
}


.background_bts_circle {
    display: flex;
    width: 34px;
    height: 34px;
    background: #335B6B;
    border-radius: 50%;
    padding: 8px;
    margin-right: 10px;
}

.products_all {
    font-family: 'Roboto', sans-serif;
    font-size: 1.375rem;
    line-height: 2.1875rem;
    letter-spacing: 0.36px;
    color: #274C5B;
}

.products_all:hover {
    color: #274C5B;
}

@media (max-width: 768px) {
    .col-6 {
        max-width: 100%;
        flex: 0 0 100%;
        padding-bottom: 15px;
    }
}


/*---------------------------------------------------------------------------header-------------------------------*/

.nav-link {
    display: block;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    padding: 0.3rem 0.3rem;
    font-size: 1.19rem;
    line-height: 2rem;
    letter-spacing: 0.36px;
    color: #274C5B;
}

.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50;
    box-shadow: 0 2px 20px rgb(0, 0, 0, 0.14);
}

.header::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #fff;
    z-index: 2;
}

.header_body {
    max-width: 1200px;
    position: relative;
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
}

.header_brand {
    flex: 0 0 200px;
    position: relative;
    z-index: 3;
}

.header_brand img {
    max-width: 100%;
}

.header_burger {
    display: none;
}

.header_menu{
    display: flex;

}

.header_list {
    display: flex;
    z-index: 2;
    margin-right: 60px;
}

.header_list li {
    list-style: none;
    padding: 10px 10px 0 10px;
}

.header_list li a {
    white-space: nowrap;
}

.btn_shop_hed {
    min-width: 160px;
    height: 70px;
    border: 1px solid #D4D4D4;
    border-radius: 33px;
    background: none;
    z-index: 2;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    padding: 7px 0 7px 8px;
}

.backgr_icon_shop {
    background: #274C5B;
    border-radius: 100px;
    padding: 16px 15px 16px 15px;
    margin-right: 10px;
}

.btn_numb {
    margin-right: 10px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
}

.btn-txt_shop {
    font-style: normal;
    font-weight: 400;
    font-size: 1.0625rem;
    line-height: 1.8125rem;
    letter-spacing: 0.36px;
    color: #274C5B;
}

.main {
    padding: 80px 0 0 0;
}

.btn_shop_hed:hover {
    background-color: #7EB693;
    transition-duration: 0.2s;
    color: #494f54;
    border: 1px solid #7EB693;
    text-decoration: none;
}

.nav-link:hover {
    color: #7EB693;
    text-decoration: none;
}

@media (max-width: 992px) {
    body.lock {
        overflow: hidden;
    }

    .header_brand {
        flex: 0 0 200px;
        margin-right: 10px;
    }

    .header_burger {
        display: block;
        width: 30px;
        height: 20px;
        position: relative;
        z-index: 3;
    }

    .header_burger span {
        position: absolute;
        background-color: #7EB693;
        width: 30px;
        height: 2px;
        left: 0;
        top: 9px;
        transition: all 0.3s ease 0s;
    }

    .header_burger::before,
    .header_burger::after {
        content: '';
        background-color: #7EB693;
        position: absolute;
        width: 30px;
        height: 2px;
        left: 0;
        transition: all 0.3s ease 0s;
    }

    .header_burger::before {
        top: 0;
    }

    .header_burger::after {
        bottom: 0;
    }

    .header_burger.active span {
        transform: scale(0);
    }

    .header_burger.active::before {
        transform: rotate(45deg);
        top: 9px;
    }

    .header_burger.active::after {
        transform: rotate(-45deg);
        bottom: 9px;
    }

    .header_menu {
        position: fixed;
        top: -100%;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: #fff;
        padding: 80px 0 20px 0;
        transition: all 0.3s ease 0s;
        flex-direction: column;
        align-items: center;
    }

    .header_menu.active {
        top: 0;
    }

    .header_list {
        display: block;
    }

    .header_list li {
        margin: 0 0 20px 0;
    }
}

/*--------------------------------------------------------------section-1------------------------------*/

.section-1 {
    background-image: url("./../img/bg_sec_1.jpg");
    background-color: #f2f0f1;
    background-size: auto 100%;
    background-position: right;
    background-repeat: no-repeat;
    padding: 220px 0 250px;
}

.img-bg {
    background-image: url(../img/sec_2/img_1.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border-radius: 30px;
}

.btn_sect_1 {
    max-width: 200px;
    background: #EFD372;
    border: 1px solid #EFD372;


}

.btn-txt_sect_1 {
    font-size: 1.1875rem;
    line-height: 2rem;
    letter-spacing: 0.36px;
    color: #274C5B;

}

.posit_sect_1 {
    padding: 0 0 0 8px;
    margin-right: 8px;
}

.anim_item_block {
    transform: translate(-120%, 0);
    opacity: 0;
    transition: all 0.6s ease 0.5s;
}


/*---------------------------------------------------------------section-2-----------------------------*/

.section-2 {
    margin-top: 140px;
}

.bg-1 {
    background-image: url("../img/sec_2/img_2.jpg");

}

.bg-2 {
    background-image: url("../img/sec_2/img_1.jpg");
}

.options_bg_sect_2 {
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

@media (max-width: 1200px) {
    .section-2 {
        margin-top: 75px;
    }
}

.bg-1:hover {
    box-shadow: 0 2px 18px #e91e63;
    border-radius: 30px;
}

.bg-2:hover {
    box-shadow: 0 2px 18px #496572;
    border-radius: 30px;
}

.text-s-2 {
    color: #fff;
}

.padding-s-2 {
    padding: 105px 0 105px 40px;
}


/*---------------------------------------------------------------section-3-----------------------------*/

.section-3 {
    margin-top: 140px;
    background: #F9F8F8;
    text-align: left;
}

.img-posit-3-sect {
    padding: 177px 0 187px 0;

}

.padding_top_sect_3 {
    padding-top: 130px;
}

.marg_text_3_sect {
    margin-left: 20px;
}

.icon_sect_3 {
    position: absolute;
    padding: 27px 31px 27px 31px;
    width: 100px;
    height: 100px;
    background: #FFFFFF;
    border-radius: 20px;
}

.btn_sect_3 {
    max-width: 200px;
    background: #274C5B;
    border: 1px solid #274C5B;
}

.btn-txt_sect_3 {
    padding-right: 10px;
    font-size: 1.1875rem;
    line-height: 2rem;
    letter-spacing: 0.6px;
    color: #ffffff;
}

.p_bottom_sect_3 {
    padding-bottom: 150px;
}

.btn_marg_sect_3 {
    margin: 0 15px 0 15px;
}

@media (max-width: 768px) {
    .section-3 {
        margin-top: 50px;
    }

    .img-posit-3-sect {
        padding: 0;
    }

    .padding_top_sect_3 {
        padding-top: 50px;
    }

    .p_bottom_sect_3 {
        padding-bottom: 50px;
    }
}

@media (max-width: 992px) {
    .icon_sect_3 {
        position: absolute;
        padding: 20px;
        width: 85px;
        height: 85px;
        background: #FFFFFF;
        border-radius: 20px;
    }
}

.sect_3_titte_anim{
    transform: translate(0, 60%);
    opacity: 0;
    transition: all 0.4s ease 0s;
}

.sect_3_p_anim{
    transform: translate(0, 0);
    opacity: 0;
    transition: all 0.4s ease 0.3s;
}

/*--------------------------------------------------------------section-4------------------------------*/

.title_sect_4 {
    text-align: center;
    margin-top: 120px;
}

.price {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
}

.old_price {
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    line-height: 2rem;
    letter-spacing: 0.36px;
    text-decoration-line: line-through;
    color: #B8B8B8;
    margin-right: 15px;
}

.new_price {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 1rem;
    line-height: 2rem;
    letter-spacing: 0.36px;
    color: #274C5B;
}

.stars {
    display: flex;
    justify-content: center;
}

.classification {
    width: 120px;
    background: #274C5B;
    border-radius: 8px;
    padding: 6px 20px 6px 17px;
    text-align: center;
}

.option_text_classification {
    font-weight: 700;
    font-size: 0.9375rem;
    line-height: 1.6875rem;
    letter-spacing: 0.36px;
    color: #FFFFFF;
}

.option_text_classification:hover {
    color: #7EB693;
    text-decoration: none;
}

.item img {
    margin-top: 10px;
}

@media (max-width: 768px) {
    .col-item-sect-4 {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .title_sect_4 {
        margin-top: 20px;
    }

    .products_all {
        white-space: nowrap;
        font-family: 'Roboto', sans-serif;
        font-weight: 700;
        font-size: 1.2rem;
        line-height: 2.1875rem;
        letter-spacing: 0.36px;
        color: #274C5B;
    }

}

/*--------------------------------------------------------------section-5------------------------------*/
.section-5 {
    background-image: url("../img/sect_5-6/bg_sect_5.jpg");
    background-color: #FCFCFC;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 140px;
}

.title {
    text-align: center;
    padding-top: 130px;

    transform: translate(-120%, 0);
    opacity: 0;
    transition: all 0.8s ease 0.5s;
}

.foto {
    display: flex;
    justify-content: center;
    margin-top: 60px;

    transform: translate(0, -120%);
    opacity: 0;
    transition: all 0.8s ease 0.2s;
}

.stars_5_sect {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.user_information {
    text-align: center;
    font-size: 1.125rem;
    line-height: 2rem;
    letter-spacing: 0.36px;
    color: #525C60;
    margin-top: 34px;
}

.hr_5_sect {
    border-top: 3px solid rgba(0, 0, 0, 0.1);
    max-width: 966px;
    margin-top: 96px;
}

.all_circle {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 100px 0 150px 0;
}

.circle {
    display: flex;
    width: 250px;
    height: 250px;
    background: #F1F1F1;
    border: 6px solid #7EB693;
    border-radius: 200px;
    margin: 5px;
}

.inner_circle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 240px;
    border: 5px solid #FFFFFF;
    border-radius: 200px;
    text-align: center;
}

.circle:hover {
    animation: myAnim 1s cubic-bezier(0.34, 1.56, 0.64, 1) 0s alternate both;
    z-index: 3;
}

@keyframes myAnim {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.2);
    }
}

@media (max-width: 768px) {
    .section-5 {
        margin-top: 40px;
    }

    .title {
        padding-top: 50px;
    }

    .hr_5_sect {
        margin-top: 40px;
    }

    .all_circle {
        padding: 50px 0;
    }

}

.circle_1 {
    transform: translate(-120%, 0);
    opacity: 0;
    transition: all 0.5s ease 0.6s;
}

.circle_2 {
    transform: translate(-120%, 0);
    opacity: 0;
    transition: all 0.5s ease 0.4s;
}

.circle_3 {
    transform: translate(-120%, 0);
    opacity: 0;
    transition: all 0.5s ease 0.2s;
}

.circle_4 {
    transform: translate(-120%, 0);
    opacity: 0;
    transition: all 0.5s ease 0s;
}

/*--------------------------------------------------------------section-6------------------------------*/

.section-6 {
    background: #274C5B;
}

.pt_sect_6 {
    padding-top: 140px;
}

.title_sect_6 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 35px;
}

div.title_sect_6 h2 {
    color: #fff;
    margin-bottom: 0;
}

.btn_sect_6 {
    max-width: 270px;
    background: #EFD372;
    border: 1px solid #EFD372;
}

.df_sect_6 {
    display: flex;
    flex-direction: row;
}

.pb_sect_6_all {
    padding-bottom: 160px;
}

.btn_marg_sect_6 {
    margin: 0 15px 0 15px;
}

@media (max-width: 768px) {
    .pt_sect_6 {
        padding-top: 40px;
    }

    .pb_sect_6_all {
        padding-bottom: 60px;
    }

    .item_sect_6 {
        background: #F9F8F8;
        border-radius: 30px;
        padding: 30px 10px 35px 10px;
        transition: 0.2s;
        text-align: center;
    }

    .products_all_sect_6 {
        white-space: nowrap;
        font-family: 'Roboto', sans-serif;
        font-weight: 700;
        font-size: 0.8rem;
        line-height: 1.1875rem;
        letter-spacing: 0.36px;
        color: #274C5B;

    }
}


/*--------------------------------------------------------------section-7------------------------------*/

.about_farm {
    max-width: 650px;
    background: #FFFFFF;
    border-radius: 30px 0 0 30px;
    margin: 10px 0 10px -100px;
    padding-left: 35px;

    transform: translate(0, 0);
    opacity: 0;
    transition: all 1s ease 0.2s;
}

div div.about_farm h2 {
    margin-bottom: 0;
}

div div.about_farm h5 {
    margin-bottom: 0;
}

div div.about_farm p {
    margin-bottom: 0;
}

@media (max-width: 992px) {
    .col-sect-7-1 {
        flex: 0 0 100%;
        max-width: 100%;
        display: flex;
        justify-content: center;
    }

    .col-sect-7-2 {
        flex: 0 0 100%;
        max-width: 100%;
        margin: 10px 0;
        text-align: inherit;
        order: -1;
        display: flex;
        justify-content: center;
    }

    .about_farm {
        margin: 10px 0 10px 0;
        padding-left: 0;
    }

    div.about_farm h2 {
        text-align: center;
    }

    div.about_farm h5 {
        text-align: center;
    }

    div.about_farm i {
        display: flex;
        justify-content: center;
    }
}

/*--------------------------------------------------------------section-8------------------------------*/
.section-8 {
    background: #EFF6F1;
}

.bg_btn_sect_8_1 {
    background-image: url("./../img/sect_8/img_1.svg");
}

.bg_btn_sect_8_2 {
    background-image: url("./../img/sect_8/img_2.svg");
}

.bg_btn_sect_8_3 {
    background-image: url("./../img/sect_8/img_3.svg");
}

.options_bg_sect_8 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 243px 90px 243px 90px;
    filter: brightness(60%);
}

.options_bg_sect_8:hover {
    filter: brightness(100%);
    transition-duration: 0.3s;
    box-shadow: 0 0 11px 9px #7B7B7B;
    border-radius: 25px;
}

.options_button_sect_8 {
    background: #FFFFFF;
    border-radius: 20px;
    border: none;
    padding: 20px 0 20px 0;
    min-width: 200px;
}

.options_button_sect_8:hover {
    transition-duration: 0.2s;
    background: #494f54;
    color: #7EB693;
}

.btn_option_text_sect_8 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 25px;
    line-height: 35px;
    color: #274C5B;
    text-align: center;
}

.btn_option_text_sect_8:hover {
    color: #86cfda;
    text-decoration: none;
    text-shadow: 0 2px 18px rgba(0, 0, 0, 0.14);
}

.pd_sect_8_all {
    padding: 140px 0 140px 0;
}

@media (max-width: 768px) {
    .options_bg_sect_8 {
        padding: 180px 80px 180px 80px;
    }

    .options_button_sect_8 {
        padding: 10px 0 10px 0;
        min-width: 150px;
        border-radius: 15px;
    }

    .btn_option_text_sect_8 {
        font-size: 22px;
    }

    .pd_sect_8_all {
        padding: 40px 0 40px 0;
    }
}

/*--------------------------------------------------------------section-9------------------------------*/

.section-9 {
    margin-top: 130px;
}

.title_sect_9 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 35px;
}

.btn_sect_9 {
    min-width: 210px;
    background: #FFFFFF;
    border: 1px solid #274C5B;
}

.btn-txt_sect_9 {
    font-size: 1rem;
    line-height: 1.5rem;
    letter-spacing: 0.36px;
    text-transform: capitalize;
    color: #274C5B;
}

.btn_padd_text_sect_9 {
    padding: 0 20px 0 25px;
}

.bg_left_block {
    background-image: url("./../img/sect_9/img_1.svg");
}

.bg_right_block {
    background-image: url("./../img/sect_9/img_2.svg");
}

.options_block_sect_9 {
    padding: 250px 30px 45px 30px;
    background-repeat: no-repeat;
    background-size: contain;
}

.options_text_sect_9 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #FFFFFF;
    box-shadow: 0 2px 18px rgba(0, 0, 0, 0.14);
    border-radius: 30px;
    padding-left: 40px;

    transform: translate(0, 50%);
    opacity: 0;
    transition: all 0.4s ease 0s;
}

div.options_text_sect_9 p {
    margin: 0;
}

.user_sect_9 {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    padding-top: 30px;
}

.name_users_sect_9:hover {
    color: #7EB693;
    text-decoration: none;
    text-wrap: none;
    text-shadow: 0 2px 18px rgba(0, 0, 0, 0.14);
}

div.user_sect_9 a {
    margin-bottom: 0;
    padding-left: 10px;
    line-height: 1.44rem;
    letter-spacing: 0.36px;
    color: #274C5B;
}

.btn_sect_9_2 {
    background: #FFFFFF;
    border: none;
    padding: 20px 0 20px 0;
    margin: 0 0 10px -25px;
}

.sect_9_arrow_marg_right {
    margin: 0 10px 0 0;
}

@media (max-width: 768px) {
    .section-9 {
        margin-top: 30px;
    }
}

/*--------------------------------------------------------------section-10------------------------------*/

.section-10 {
    margin: 110px 0 50px 0;
}


.form_bg_sect_10 {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-image: url("./../img/sect_10/bg_sect_10.svg");
    background-size: cover;
    border-radius: 30px;
    background-repeat: no-repeat;
    padding: 60px 0 60px 70px;
}

@media (max-width: 768px) {
    button.button_all {
        margin-top: 20px;
    }

    div.form_item {
        margin-top: 10px;
    }

    .section-10 {
        margin-top: 30px;
    }
}

@media (max-width: 1200px) {
    .form_body {
        max-width: 1140px;
        display: flex;
        flex-wrap: wrap;
    }
}

.form_title {
    padding-right: 150px;
    color: #FFFFFF;
}

.form_input {
    background: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 16px;
    padding: 26px 100px 26px 30px;
    line-height: 1.8rem;
    letter-spacing: 0.36px;
    color: #525C60;
    outline: none;
}

.btn_sect_10 {
    margin-right: 40px;
    background: #274C5B;
    border: 1px solid #274C5B;
}

.form_body {
    display: flex;
    flex-direction: row;
    align-items: center;
}

._error {
    box-shadow: 0 0 15px red;
    border-radius: 16px;
    transition-duration: 0.7s;
}

.form_item {
    display: flex;
    margin-right: 10px;
}

.btn_sect_10_marg {
    margin: 0 10px 0 10px;
}

/*--------------------------------------------------------------footer------------------------------*/
.footer {
    padding: 130px 0 30px 0;
}

.footer h4 {
    font-weight: 700;
    font-size: 1.9rem;
    line-height: 2.625rem;
    letter-spacing: 0.36px;
    color: #274C5B;
}

.footer_hr {
    display: flex;
    height: 370px;
    border: 1px solid #D5D5D5;
    margin: -2px;
}

.posit_left_block {
    text-align: right;
}

.posit_left_block h6 {
    font-weight: 700;
    font-size: 1.1rem;
    line-height: 1.437rem;
}

.posit_central_block {
    text-align: center;
}

.icon_social_networks:hover {
    text-decoration: none;
}

.icon_social_networks img:hover {
    box-shadow: 0 2px 18px rgba(0, 0, 0, 0.14);
    border-radius: 30px;
}

a.icon_social_networks:nth-last-child(n+2) {
    padding-right: 20px;
}

.posit_right_block {
    text-align: left;
}

.footer_intorm_contact {
    display: flex;
    justify-content: left;
    font-size: 1rem;
    line-height: 1.7777rem;
    letter-spacing: 0.36px;
    color: #525C60;
    padding-bottom: 24px;
}

.footer_intorm_contact:hover {
    color: #7EB693;
    text-decoration: none;
    text-wrap: none;
    text-shadow: 0 2px 18px rgba(0, 0, 0, 0.14);
}

.footer_brand img {
    padding-bottom: 45px;
}

.posit_central_block p {
    padding-bottom: 60px;
}

.sole {
    padding-top: 10px;
    text-align: center;
}

.sole a {
    font-size: 1.1rem;
    line-height: 2rem;
    text-align: center;
    letter-spacing: 0.36px;
    color: #525C60;
}

.footer_input {
    display: none;
}

.footer_inform_title {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 1.9rem;
    line-height: 2.625rem;
    letter-spacing: 0.36px;
    color: #274C5B;
}


@media (max-width: 992px) {
    .footer_hr {
        display: none;
    }

    .footer {
        padding: 0 0 30px 0;
    }

    .col-20 {
        flex: 0 0 100%;
        max-width: 100%;
        order: -1;
    }

    .posit_central_block p {
        padding-bottom: 10px;
    }

    .posit_central_block {
        margin-bottom: 25px;
    }

    .col-21-l {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .col-21-r {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .posit_left_block {
        text-align: center;
    }

    .posit_right_block {
        text-align: center;
    }

    .footer_intorm_contact {
        display: flex;
        justify-content: center;
    }

    .information {
        display: none;
    }

    .footer_inform_title {
        display: block;
        cursor: pointer;
        font-family: 'Roboto', sans-serif;
        font-weight: 700;
        font-size: 1.9rem;
        line-height: 2.625rem;
        letter-spacing: 0.36px;
        color: #274C5B;
        position: relative;
    }

    .footer_inform_title:after {
        content: '';
        display: block;
        border-style: solid;
        border-width: 8px 5px 0 5px;
        border-color: #274C5B transparent transparent transparent;
        position: absolute;
        top: 50%;
        right: 80px;
        transform: translateY(-50%);
    }

    .footer_inform_title:hover {
        text-shadow: 0 4px 6px rgb(0 0 0 / 30%);
    }

    .footer_input {
        width: 0;
        height: 0;
        -webkit-appearance: none;
        appearance: none;
        position: absolute;
    }

    .footer_input:checked ~ .footer_inform_title {
        background-color: #eae9e9;
        border-radius: 50px;
    }

    .footer_input:checked ~ .footer_inform_title:after {
        border-style: solid;
        border-width: 0 5px 8px 5px;
        border-color: transparent transparent #274C5B transparent;
    }

    .footer_input:checked ~ .information {
        display: block;
    }

}

._active {
    transform: translate(0, 0);
    opacity: 1;
}



